.spinner {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.spinnig {
    animation: spinner 1.4s infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}